{
	"plugins": [
		"@babel/plugin-transform-regenerator",
		["@babel/plugin-proposal-decorators", {
			"decoratorsBeforeExport": true
		}]
	],
  "presets": ["@babel/preset-env"],
  "ignore": [
    "**/*.spec.js"
  ]
}